p {
	color: MediumOrchid;
	text-align: center;
	
	    font-style: shadow;
}
header{
		text-align: center;
		background-color: MediumOrchid;
		padding: 20px;
		
}


body {
background-color: lightblue;
}

